<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head ::head"></head>

<body>

<div th:replace="fragments/navigation ::navbar"></div>

<h2>Add artist</h2>
<section>
    <div>
        <form action="#" th:action="@{/artist-form-process}" th:object="${artist}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" />
            <label for="image">Image</label>
            <input type="file" id="image" th:field="*{image}" />
            <label for="nationality">Nationality</label>
            <input type="text" id="nationality" th:field="*{nationality}" />
            <label for="members-count">Members count</label>
            <input type="number" id="members-count" th:field="*{membersCount}" />
            <label for="birth-date">Birth date</label>
            <input type="date" id="birth-date" th:field="*{birthDate}" />
            <input th:type="submit" />
        </form>
    </div>
</section>
</body>
</html>