<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Umělec</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<h2 th:text="${artist.name}"></h2>
<section>
    <h4 th:text="${artist.nationality}"></h4>
    <h3>Alba</h3>
    <div th:each="artistsAlbum : ${artistsAlbums}">
        <h4 th:text="${artistsAlbum.name}"></h4>
        <h4 th:text="${#dates.year(artistsAlbum.releaseDate)}"></h4>
    </div>

    <h3>Singly</h3>
    <div th:each="single : ${singles}">
        <h4 th:text="${single.name}"></h4>
    </div>
</section>
</body>
</html>