<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head ::head"></head>

<body>

<div th:replace="fragments/navigation ::navbar"></div>

<h2>Registrace</h2>
<section>
    <div>
        <form action="#" th:action="@{/signup-form-process}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}" />
            <label for="username">Username</label>
            <input id="username" type="text" th:field="*{username}" />
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" />
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" th:field="*{repeatPassword}" />
            <label for="email">Email</label>
            <input id="email" type="email" th:field="*{emailAddress}" />
            <input th:type="submit" />
        </form>
    </div>
</section>
</body>
</html>