<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head ::head"></head>

<body>

<div th:replace="fragments/navigation ::navbar"></div>

<h2>Track list</h2>
<section>
    <div>
        <div th:each="track : ${trackList}">
            <a th:href="@{/track-detail/{id} (id=${track.id})}"><h3 th:text="${track.name}"></h3></a>
            <a th:href="@{'/queue-add/' + ${track.getId()}}">Přidat do fronty</a>
            <div th:if="${loggedUser != null && loggedUser.userRole.getDisplayValue() == 'ADMIN'}">
                <a th:href="@{/remove-track/{trackId} (trackId=${track.id})}">Odebrat</h3></a>
                <a th:href="@{/track-form/{id} (id=${track.id})}">Upravit</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>